{% if apache_vhost_mode == 'www' %}
# Apache VirtualHost Configuration

<VirtualHost *:80>
  ServerName {{apache_appname}}.yourdomain.com
  DocumentRoot "/data/wwwroot/{{apache_appname}}"
  ErrorLog "logs/{{apache_appname}}-error_log"
  CustomLog "logs/{{apache_appname}}-access_log" common
  
  <Directory "/data/wwwroot/{{apache_appname}}">
    DirectoryIndex {{apache_default_index}}
    Options FollowSymlinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

#----- HTTPS  start ------------

#----- HTTPS  end --------------
{% endif %}

{% if apache_vhost_mode == 'reverse' %}
<VirtualHost *:80>
  ProxyRequests off
  ProxyPreserveHost on
  ServerName {{apache_appname}}.yourdomain.com
  ProxyPass / http://127.0.0.1:{{ apache_reverse_proxy_port }}/
  ProxyPassReverse / http://127.0.0.1:{{ apache_reverse_proxy_port }}/
  ErrorLog "logs/{{apache_appname}}-error_log"
  CustomLog  "logs/{{apache_appname}}-access_log" common
  
  <Proxy />  
     Order deny,allow  
     Allow from all  
  </Proxy>  
</VirtualHost>
{% endif %}


{% if apache_vhost_mode == 'alias' %}
Alias /app1 "/data/wwwroot/{{apache_appname}}"
<Directory "/data/wwwroot/{{apache_appname}}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride all
    Require all granted
</Directory>
{% endif %}
